

<div class="container">
  <p>Volume:</p>
    <div class="row">
      <div class="col">
        <p>Lower</p>
        <input type="range" class="form-range" min="0" max="10" step=".1" [(ngModel)]="lowerValue" (input)="onInputChange($event, 'lower')" />
        <input type="number" class="form-control" [(ngModel)]="lowerValue" (input)="onInputChange($event, 'lower')" />
      </div>
      <div class="col">
        <p>Upper</p>
        <input type="range" class="form-range" min="0" max="10" step=".1"[(ngModel)]="upperValue" (input)="onInputChange($event, 'upper')" />
        <input type="number" class="form-control" [(ngModel)]="upperValue" (input)="onInputChange($event, 'upper')" />
      </div>
    </div>
  </div>
  