<div class="card" style="width: 18rem; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
  
  <div class="card-body">
      <h5 class="card-title" style="font-size: 1.5rem; margin-bottom: 0.5rem;">{{categoryItem.name}}</h5>
      <small class="text-muted">ID: {{categoryItem.id}}</small>
      <p class="card-text" style="margin-top: 0.5rem;">
          Price: <span style="font-weight: bold;">{{price}} $</span>
      </p>
      <p class="card-text">
          Stock: <span style="font-weight: bold;">{{stock}}</span> | Stock Value: <span style="font-weight: bold;">{{stockValue}}</span>
      </p>
      <p class="card-text">
          Volume: <span style="font-weight: bold;">{{volume}}</span>
      </p>
      <a href="#" class="btn btn-primary" style="margin-top: 1rem;">Go somewhere</a>
  </div>
</div>
