.form-check-input {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 0;
    border: 1px solid #007BFF;
    border-radius: 4px;
}

.form-check-input:checked {
    background-color: #007BFF;
}

.form-check-label {
    font-size: 1rem;
    color: #333;
}
