<div class="container">
    <div class="btn-group w-100" role="group">
        <!-- View by Category Button -->
        <button class="btn btn-outline-primary flex-grow-1" [class.active]="selectedView === 'category'" (click)="toggleView('category')">
            <i class="fas fa-tags"></i> View by Category
        </button>

        <!-- In Stock Button -->
        <button class="btn btn-outline-primary flex-grow-1" [class.active]="selectedView === 'sort' && selectedSortProperty === 'stock'" (click)="toggleView('sort', 'stock')">
            <i class="fas fa-check-square"></i> Sort by Stock
        </button>

        <!-- Volume Button -->
        <button class="btn btn-outline-primary flex-grow-1" [class.active]="selectedView === 'sort' && selectedSortProperty === 'volume'" (click)="toggleView('sort', 'volume')">
            <i class="fas fa-chart-bar"></i> Sort by Volume
        </button>
        
        <!-- Volume Range Inputs -->
    </div>
</div>
