.products {
    width: 100%;
}
.header-of-sort{
    display: flex;
    align-items: center;
}
.btn{
    margin: 16px;
}
.card {
    border: none;
    transition: transform 0.2s;
    border: 3px solid grey;
    padding: 10px;
    margin: 10px auto; /* Center card and provide spacing */
    max-width: 14rem; /* Set maximum width instead of fixed width */
    box-shadow: 0 12px 22px rgba(0,0,0,0.6);
    border-radius: 10px;
    
}

.products{
    display: flex;
    flex-wrap: wrap;
}
/* Title Styling */
p.h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

/* Products List Styling */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Space between product items */
}

/* No Products Message Styling */
ng-template#noProducts p {
    color: #888;
    font-size: 1rem;
}

/* Product Item Styling */
app-product-item {
    margin: 0 auto;
    flex: 1 ; /* Three items per row with gap */
    background-color: #fff;
    padding: 0rem;
    border-radius: 8px; /* Rounded corners */
}
