.screen {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

.filterpanel {
    width: 15rem;
    background-color: #ffffff
}
.main-view{
    flex: 1;

    margin-left: 33px;
}

app-product-view {
    flex: 1; 
    height: 100%/* This will make it take up all available space after filterpanel width */
}

.screen, .filterpanel, app-product-view {
     /* Or overflow-y: hidden; if you only want to hide vertical overflow */
}

app-sort-view {
    margin-left: 3px;
}